{{> menu}}

<section class="section">
  <div class="title">
    {{title}}
  </div>
  {{> add-hotel-list}}
  {{> error }}
</section>

<section>
  <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>List title</th>
      <th>List Id</th>
      <th>User Id</th>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {{> admin-list-hotel-lists}}
  </tbody>
</section>