<form class="box" action="/admin/users/adduser" method="POST">
  <label>Enter User Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter user first name" name="firstName" autofocus>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter user last name" name="lastName">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter user email" name="email">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter user password" name="password">
      </div>
    </div>
  </div>
  <button class="button is-link">Add User</button>
</form>