{{#each hotels}}
<p>{{name}}</p>
{{/each}}

<div class="columns">
    <div class="column">
        <div class="main">
            <div class="controls">
                <div class="address-line box">
                    <input id="address" type="text" placeholder="Enter address to search"><button onclick="geocodeAddress()">Search</button>
                </div>
                <form class="box" action="/admin/hotels/addhotel" method="POST">
                <div class="results">
                    <label for="name">User Email:</label>
                    <input class="input" type="text" placeholder="Enter user email" name="userEmail" required>        
                    <label for="name">Hotel List title:</label>          
                    <input class="input" type="text" placeholder="Enter hotel list title" name="hotelListTitle" required>
                    <label for="name">Name:</label>          
                    <input id="name" type="text" class="input" name="name" readonly />
                    <label for="house-number">House number:</label>          
                    <input id="house-number" type="text" class="input" name="houseNumber" readonly />
                    <label for="street">Street:</label>          
                    <input id="street" type="text" class="input" name="street" readonly />
                    <label for="postcode">Postcode:</label>          
                    <input id="postcode" type="text" class="input" name="postcode" readonly />
                    <label for="city">City:</label>          
                    <input id="city" type="text" class="input" name="city"readonly />
                    <label for="state">State:</label>          
                    <input id="state" type="text" class="input" name="state" readonly />
                    <label for="country">Country:</label>          
                    <input id="country" class="input" name="country" type="text" readonly />
                    <!-- <label for="coordinates">Coordinates:</label> -->
                    <div class="is-grouped">
                      <input id="latitude" class="input" name="latitude" type="hidden" style = "width: 49%" readonly />
                      <input id="longitude" class="input" name="longitude" type="hidden" style = "width: 49%" readonly />
                    </div>
                </div>
                <br>
                <button class="button is-link">Add found Hotel</button>
                </form>
                <div class="status">
                    <span id="status">Enter address and press "Search" button</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div id="my-map" style = "width: 100%; height: 580px"></div>
    </div>
</div>


<!-- <div id = "my-map" style = "width: 900px; height: 580px"></div> -->


<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> <!-- necessary script for map to work -->
<script>
  // Create a Leaflet map
const map = L.map('my-map').setView([54, -6.4], 2);
// Marker to save the position of found address
let marker;

// The API Key provided is restricted to JSFiddle website
// Get your own API Key on https://myprojects.geoapify.com
const myAPIKey = "{{geoAPIKey}}";

// Retina displays require different mat tiles quality
const isRetina = L.Browser.retina;
const baseUrl = `https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}.png?apiKey=${myAPIKey}`;
const retinaUrl = `https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}@2x.png?apiKey=${myAPIKey}`;

// add Geoapify attribution
map.attributionControl.setPrefix('Powered by <a href="https://www.geoapify.com/" target="_blank">Geoapify</a>')

// Add map tiles layer. Set 20 as the maximal zoom and provide map data attribution.
L.tileLayer(isRetina ? retinaUrl : baseUrl, {
  attribution: '<a href="https://openmaptiles.org/" target="_blank">© OpenMapTiles</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap</a> contributors',
  apiKey: myAPIKey,
  maxZoom: 20,
  id: 'osm-bright',
}).addTo(map);


// move zoom controls to bottom right
/*
map.zoomControl.remove();
L.control.zoom({
  position: 'bottomright'
}).addTo(map);
*/


function geocodeAddress() {
  const address = document.getElementById("address").value;
  if (!address || address.length < 3) {
    document.getElementById("status").textContent = "The address string is too short. Enter at least three symbols";

    return;
  }
/*
	if (marker) {
  	marker.remove();
  }	
  */

  const geocodingUrl = `https://api.geoapify.com/v1/geocode/search?text=${encodeURIComponent(address)}&apiKey=${myAPIKey}`;

  // call Geocoding API - https://www.geoapify.com/geocoding-api
  fetch(geocodingUrl).then(result => result.json())
    .then(featureCollection => {
      if (featureCollection.features.length === 0) {
        document.getElementById("status").textContent = "The address is not found";
        return;
      }

      const foundAddress = featureCollection.features[0];
      document.getElementById("name").value = foundAddress.properties.name || '';
      document.getElementById("house-number").value = foundAddress.properties.housenumber || '';
      document.getElementById("street").value = foundAddress.properties.street || '';
      document.getElementById("postcode").value = foundAddress.properties.postcode || '';
      document.getElementById("city").value = foundAddress.properties.city || '';
      document.getElementById("state").value = foundAddress.properties.state || '';
      document.getElementById("country").value = foundAddress.properties.country || '';
      document.getElementById("latitude").value = foundAddress.properties.lat || '';
      document.getElementById("longitude").value = foundAddress.properties.lon || '';

      document.getElementById("status").textContent = `Found address: ${foundAddress.properties.formatted}`;

			marker = L.marker(new L.LatLng(foundAddress.properties.lat, foundAddress.properties.lon)).addTo(map);
			map.panTo(new L.LatLng(foundAddress.properties.lat, foundAddress.properties.lon));
    });
}
</script>