{{#unless @root.hotelList._id}}
<form class="box" action="/admin/hotels/addhotel" method="POST">
{{/unless}}

{{#if @root.hotelList._id}}
<form class="box" action="/admin/hotellists/{{hotelList._id}}/addhotel" method="POST">
{{/if}}


  <label>Enter Hotel Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel name" name="name" autofocus>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel city" name="city">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel country" name="country">
      </div>
      {{#unless @root.hotelList._id}}
      <div class="field">
        <input class="input" type="text" placeholder="Enter hotel list title" name="hotelListTitle">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter user email" name="userEmail">
      </div>
      {{/unless}}
    </div>
  </div>
  <button class="button is-link">Add Hotel</button>
</form>